body{
  background-color:#F1F1F1 ;
}


.list{
	position: relative;
	top:75px;
}

button{
	position: relative;
	left:650px;
	top: 20px;
}

h2{
	
	text-align: center;
	position: relative;
	top:5px;
}

div.symptom {
	display:inline-block;  
    vertical-align:top;
	text-align:center;
	width:auto;
	margin:0 47px 0 0;
	padding:24px 22px 20px 27px;
	border:0.1px solid skyblue;
	border-radius: 10%;
	margin:7px;
	
}

div.symptom:last-child {
	margin:0px;
}

div.symptom:hover {
	border:3px solid #878787;
	-moz-border-radius:3px;
	border-radius:3px;
}

div.symptom.unselected {
	opacity:0.6;
	filter:alpha(opacity=60);
}

div.symptom.selected {
	border:5px solid #60d57d;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color:#9fecb3 ;
	font-weight: bold;
}


.heading2{
	text-align: center;
	color: white;
	background-color: #878787;
	border-radius: 30%;
	height: 150px;
	padding:20px;
	margin:0;
}

