body{
  background-color:wheat ;
}

div.symptom {
	display:inline-block;  
    vertical-align:top;
	text-align:center;
	width:auto;
	margin:0 47px 0 0;
	padding:24px 22px 20px 27px;
	border:0.1px solid red;
}

div.symptom:last-child {
	margin:0px;
}

div.symptom:hover {
	border:3px solid #878787;
	-moz-border-radius:3px;
	border-radius:3px;
}

div.symptom.unselected {
	opacity:0.6;
	filter:alpha(opacity=60);
}

div.symptom.selected {
	border:5px solid #32a24e;
	-moz-border-radius:3px;
	border-radius:3px;
}
